# vim backups
*.swp
*.swo
# gmon files
gmon.out
# exe
generator
lawn_mower
goldbach
no_change
multiple_morse_match
mice_and_maze
project_file_dependencies
maya_calendar
water_shortage
buy_or_build
roof
balloons
bond
WiFi
fighting
page_hopping
# tests
test_case
